<h1>Admin</h1>
<%= link_to "Go back", movies_path %> | <%= link_to "Create User", new_admin_user_path %>
<hr>

<%= paginate @users %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name%></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to "View", user_path(user) %> </td>
        <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
        <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "You sure dude?" } %></td>
        <% unless user == current_user %>
        <td><a href="/switch_account/<%= user.id %>">Switch</a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>